body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

.header {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

nav button:hover {
  background-color: #0056b3;
}

h1, h2 {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.section.active {
  display: block;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  background-color: #1a1a1a;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #218838;
}

/* Estilizar o formulário de "Adicionar Novo Projeto" */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Espaçamento entre os campos */
}

form input, form textarea, form select, form button {
  width: 80%; /* Mesmo tamanho para todos os campos */
  max-width: 500px; /* Limita o tamanho máximo */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  resize: none; /* Impede redimensionamento */
  height: 100px; /* Altura padrão para o campo de texto */
}

form button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #218838;
}
